@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--poppins);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #f8f8f8;
	--blue: #6f3ce6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #faa2a2;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

.search_btn {
	visibility: hidden;
}




/* CONTENT */
/* #content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
} */




/* gannu NAVBAR */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: #3E8DA8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	z-index: 99;
  }
  
  .img1 {
	height: 50px;
	width: 50px;
	margin-top: 10px;
	border-radius: 50%;
	margin-left: 15px;
  }
  
  nav .navbar {
	height: 100%;
	max-width: 1250px;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	padding: 0 50px;
	opacity: 0.8;
	
  }
  
  .navbar .logo a {
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
  }
  
  nav .navbar .nav-links {
	line-height: 70px;
	height: 100%;
  }
  
  nav .navbar .links {
	display: flex;
  }
  
  nav .navbar .links li {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0 14px;
  }
  
  nav .navbar .links li a {
	height: 100%;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
  }
  
  .links li:hover .sales-arrow,
  .links li:hover .marketing-arrow {
	transform: rotate(180deg);
  }
  
  nav .navbar .links li .arrow {
	height: 100%;
	width: 22px;
	line-height: 70px;
	text-align: center;
	display: inline-block;
	color: #fff;
	transition: all 0.3s ease;
  }
  
  nav .navbar .links li .sub-menu {
	position: absolute;
	top: 70px;
	left: 0;
	line-height: 40px;
	background: #3E8DA8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 4px 4px;
	display: none;
	z-index: 2;
  }
  
  .navbar .links li:hover .sub-menu {
	display: block;
  }
  
  .navbar .links li .sub-menu li {
	padding: 0 22px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .navbar .links li .sub-menu a {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
  }
  
  .navbar .links li .sub-menu .more-arrow {
	line-height: 40px;
  }
  
  .navbar .links li .sub-menu .more-sub-menu {
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 0 4px 4px 4px;
	z-index: 1;
	display: none;
  }
  
  .links li .sub-menu .more:hover .more-sub-menu {
	display: block;
  }
  
  .navbar .search-box {
	position: relative;
	height: 40px;
	width: 40px;
  }
  
  .navbar .search-box i {
	position: relative;
	height: 100%;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  @media (max-width: 600px) { /* iPad size */
	  .navbar {
		font-size: 20px; /* Adjust font size for iPads */
		line-height: 26px; /* Adjust line height */
	  }
	}
	@media (max-width: 820px) and (max-height: 1180px) {
	  .navbar  {
		font-size: 20px; /* Adjust font size for iPad Air */
		line-height: 36px; /* Adjust line height */
		height: 40px; /* Maintain height */
		width: 40px; /* Maintain width */
	  }
	}
	@media (max-width: 820px) and (max-height: 1180px) and (orientation: landscape) {
	  .navbar {
		font-size: 22px; /* You could reset or tweak for landscape */
	  }
	}
	  
  .navbar .search-box .input-box {
	position: absolute;
	right: calc(100% - 40px);
	top: 80px;
	height: 60px;
	width: 300px;
	background: #3E8DA8;
	border-radius: 6px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s ease;
  }
  
  .navbar.showInput .search-box .input-box {
	top: 65px;
	opacity: 1;
	pointer-events: auto;
  }
  
  .search-box .input-box::before {
	content: '';
	position: absolute;
	height: 20px;
	width: 20px;
	background: #3E8DA8;
	right: 10px;
	top: -6px;
	transform: rotate(45deg);
  }
  
  
  .search-box .input-box input {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 4px;
	transform: translate(-50%, -50%);
	height: 35px;
	width: 280px;
	outline: none;
	padding: 0 15px;
	font-size: 16px;
	border: none;
  }
  
  .navbar .nav-links .sidebar-logo {
	display: none;
  }
  
  .navbar .bx-menu {
	display: none;
  }
  
  @media (max-width: 920px) {
	nav .navbar {
	  max-width: 100%;
	  padding: 0 25px;
	}
  
	nav .navbar .logo a {
	  font-size: 27px;
	}
  
	nav .navbar .links li {
	  padding: 0 10px;
	  white-space: nowrap;
	}
  
	nav .navbar .links li a {
	  font-size: 15px;
	}
  }
  
  @media (max-width: 1115px) {
	
  
	.navbar .bx-menu {
	  display: block;
	}
  
	nav .navbar .nav-links {
	  position: fixed;
	  top: 0;
	  left: -100%;
	  display: block;
	  max-width: 270px;
	  width: 100%;
	  background: #3E8DA8;
	  line-height: 40px;
	  padding: 20px;
	  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	  transition: all 0.5s ease;
	  z-index: 1000;
	}
  
	.navbar .nav-links .sidebar-logo {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
  
	.sidebar-logo .logo-name {
	  font-size: 25px;
	  color: #fff;
	}
  
	.sidebar-logo i,
	.navbar .bx-menu {
	  font-size: 25px;
	  color: #fff;
	}
  
	nav .navbar .links {
	  display: block;
	  margin-top: 20px;
	}
  
	nav .navbar .links li {
	  display: block;
	  padding: 10px 0;
	}
  
	nav .navbar .links li .arrow {
	  line-height: 40px;
	}
  
	nav .navbar .links li .sub-menu {
	  position: relative;
	  top: 0;
	  box-shadow: none;
	  display: none;
	}
  
	nav .navbar .links li .sub-menu li {
	  border-bottom: none;
	}
  
	.navbar .links li .sub-menu .more-sub-menu {
	  display: none;
	  position: relative;
	  left: 0;
	}
  
	.navbar .links li .sub-menu .more-sub-menu li {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
  
	.navbar .links li:hover .sales-arrow,
	.navbar .links li:hover .marketing-arrow {
	  transform: rotate(0deg);
	}
  
	.navbar .nav-links.show1 .links .sales-sub-menu,
	.navbar .nav-links.show2 .links .more .more-sub-menu {
	  display: block;
	}
  
	.navbar .nav-links.show1 .links .sales-arrow,
	.navbar .nav-links.show2 .links .more .more-arrow {
	  transform: rotate(90deg);
	}
  }
  
  @media (max-width: 370px) {
	nav .navbar .nav-links {
	  max-width: 100%;
	}
  }


/* NAVBAR */


:root {
	--primary: #eeeeee;
	--secondary: #227c70;
	--green: #82cd47;
	--secondary-light: rgba(34, 124, 112, 0.2);
	--secondary-light-2: rgba(127, 183, 126, 0.1);
	--white: #fff;
	--black: #393e46;
  
	--shadow: 0px 2px 8px 0px var(--secondary-light);
  }
  
  /* Container for dropdown */
  .profile-dropdown {
	position: relative;
	width: fit-content;
	display: inline-block;
  }
  
  /* Dropdown button */
  .profile-dropdown-btn {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
	font-weight: 500;
	width: 150px;
	border-radius: 50px;
	color: var(--black);
	background-color: var(--white);
	box-shadow: var(--shadow);
	cursor: pointer;
	border: 1px solid var(--secondary);
	transition: background-color 0.2s ease-in, border 0.3s ease-in;
  }
  
  .profile-dropdown-btn:hover {
	background-color: var(--secondary-light-2);
  }
  
  /* Profile Image */
  .img1 {
	width: 40px;
	height: 40px;
	border-radius: 50%;
  }
  
  /* Dropdown list */
  .profile-dropdown-list {
	position: absolute;
	top: 60px;
	right: 0;
	width: 200px;
	background-color: var(--white);
	border-radius: 10px;
	max-height: 0;
	overflow: hidden;
	box-shadow: var(--shadow);
	transition: max-height 0.5s;
  }
  
  /* Dropdown list active state */
  .profile-dropdown-list.active {
	max-height: 500px;
  }
  
  /* Dropdown list items */
  .profile-dropdown-list-item {
	padding: 10px;
	transition: background-color 0.2s ease-in;
	border-bottom: 1px solid var(--secondary-light);
  }
  
  .profile-dropdown-list-item a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--black);
	font-size: 0.9rem;
	font-weight: 500;
  }
  
  /* Custom icon */
  .custom-icon {
	margin-right: 10px;
	font-size: 1.2rem;
  }
  
  .profile-dropdown-list-item:hover {
	background-color: var(--secondary-light);
  }
  





/* Profile Dropdown Container */
.profile-dropdown {
  position: relative;
  width: fit-content;
  margin: 1rem;
}

/* Button for the profile dropdown */
.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: var(--black);
  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

/* Profile image in the dropdown button */
.profile-dropdown-btn .img1 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

/* The dropdown list that appears when the button is clicked */
.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

/* Dropdown becomes visible when 'active' */
.profile-dropdown-list.active {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

/* List items in the dropdown */
.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}




/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
	margin-top: 20px;
}

#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li:nth-child(4) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(5) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(6) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
	border-radius: 50%;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
	border-radius: 50%;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .meetings {
	flex-grow: 1;
	flex-basis: 500px;
	
}
#content main .table-data .meetings table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .meetings table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .meetings table td {
	padding: 16px 0;
}
#content main .table-data .meetings table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .meetings table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .meetings table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .meetings table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .meetings table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .meetings table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .meetings table tr td .status.cancel {
	background: var(--red);
}
#content main .table-data .meetings table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .sales {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .sales .sales-list {
	width: 100%;
}
#content main .table-data .sales .sales-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .sales .sales-list li .bx {
	cursor: pointer;
}
#content main .table-data .sales .sales-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .sales .sales-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .sales .sales-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}
	

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;

    }
}





@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

 

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .sales .sales-list {
		min-width: 420px;
	}

	.meetings .head,
	.sales .head {
	  flex-direction: column; /* Stack the heading and search button vertically */
	}
	.meetings .head h3,
	.sales .head h3 {
	  margin-bottom: 10px; /* Add some space between the heading and search button */
	}
	.meetings .meeting-search-btn,
	.sales .sales-search-btn {
	  
	  margin-bottom: 10px; /* Add some space between the search button and input field */
	}
	.meetings .meeting-search,
	.sales .sales-search {
		margin-bottom: 10px;
	}
}