<style>

    /* Global Styles */

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
    }
    
    /* Content Styles */
    
    .content {
      max-width: 600px;
      margin: 40px auto;
      padding: 20px;
    }
    
    h2 {
      margin-top: 0;
      color: #333;
    }
    
    p {
      margin-bottom: 20px;
    }
    
    a {
      text-decoration: none;
      color: #337ab7;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    /* Responsive Styles */
    
    @media only screen and (max-width: 600px) {
      .content {
        margin: 20px auto;
        padding: 10px;
      }
    }
    
    @media only screen and (max-width: 400px) {
      .content {
        margin: 10px auto;
        padding: 5px;
      }
    }
</style>


{% block content %}
    <h2>Password reset sent</h2>
    <p>An email with a password reset link has been sent to your email address. Please check your inbox.</p>
    <p>You can now <a href="{% url 'login' %}">log in</a></p>
{% endblock %}
